# Manipulação Basica de Datasets

In [1]:
import pandas as pd

###  Importanto/Carregando o Dataset

Para carregar um dataset no formato csv, basta utilizar a função `read_csv` do pandas.

In [32]:
data = pd.read_csv("./datasets/gas_prices_brazil_2004-2021.csv")

In [5]:
data

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,09/05/2004,15/05/2004,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,09/05/2004,15/05/2004,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,09/05/2004,15/05/2004,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,09/05/2004,15/05/2004,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,09/05/2004,15/05/2004,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,25/04/2021,01/05/2021,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999,0.012,-99999,-99999,-99999,-99999,-99999
120819,25/04/2021,01/05/2021,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999,0.045,-99999,-99999,-99999,-99999,-99999
120820,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999,0.051,-99999,-99999,-99999,-99999,-99999
120821,25/04/2021,01/05/2021,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999,0.046,-99999,-99999,-99999,-99999,-99999
120822,25/04/2021,01/05/2021,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999,0.036,-99999,-99999,-99999,-99999,-99999

### Acessando Informações do DataFrame e Elementos Chave

#### Acessando as primeiras linhas

In [9]:
data.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,09/05/2004,15/05/2004,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,09/05/2004,15/05/2004,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,09/05/2004,15/05/2004,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,09/05/2004,15/05/2004,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,09/05/2004,15/05/2004,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [10]:
data.head(2)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,09/05/2004,15/05/2004,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,09/05/2004,15/05/2004,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115

#### Informações Gerais Sobre o Dataset

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 16.6+ MB

#### DataFrame

Todo dataset carregado (dados estruturados) é um `Data Frame`: 'Tabela' bi-dimensional, de tamanho mutável, com dados potencialmente heterogêneos. <br/>

No pandas, o objeto que representa o dataset carregado é chamado de Data Frame<br>

É uma tabela bi-dimensional, de tamanho mutável, com dados parcialmente heterogêneos

In [12]:
type(data)

pandas.core.frame.DataFrame

Podemos acessar as **dimensões do Data Frame** (número de linhas x número de colunas) utilizando o atributo `.shape` do Data Frame.

In [13]:
data.shape

(120823, 18)

##### Criando um DataFrame

A forma mais comum é importar um DataFrame, porém também é possível criar um a partir de um dicionário.<br>

As **chaves** representam as **colunas** e **cada um dos valores de sua lista** representa o **valor da linha** correspondente para aquela coluna.

In [15]:
star_wars_dict = {
    "name": ["Luke Skywalker", "Yoda", "Palpatine"],
    "age": [16, 1000, 70],
    "weight_kg": [70, 15, 60],
    "is_jedi": [True, True, False]
}

star_wars = pd.DataFrame(star_wars_dict)
star_wars

             name   age  weight_kg  is_jedi
0  Luke Skywalker    16         70     True
1            Yoda  1000         15     True
2       Palpatine    70         60    False

##### Renomeando Colunas

In [32]:
star_wars.columns

Index(['nome', 'age', 'weight_kg', 'is_jedi'], dtype='object')

In [34]:
type(star_wars.columns)

pandas.core.indexes.base.Index

In [35]:
list(star_wars.columns)

['nome', 'age', 'weight_kg', 'is_jedi']

Para **renomear colunas** do data frame, utilize o método `DataFrame.rename`, que retorna uma _cópia_ do data frame com as as colunas renomeadas:

In [16]:
cpsw = star_wars.rename(columns={
    "name": "full name"
}, inplace=True)

In [45]:
star_wars

        full name   age  weight_kg  is_jedi
0  Luke Skywalker    16         70     True
1            Yoda  1000         15     True
2       Palpatine    70         60    False

#### Series

Array uni-dimensional com os dados e rótulos de um eixo (linha ou coluna)

In [17]:
data.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,09/05/2004,15/05/2004,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,09/05/2004,15/05/2004,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,09/05/2004,15/05/2004,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,09/05/2004,15/05/2004,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,09/05/2004,15/05/2004,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [18]:
# Selecionando uma coluna inteira

data["ESTADO"]

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [20]:
# Selecionando uma coluna inteira
# Esta forma só funciona para colunas sem espaços (ou qualquer outro caractere invalido)

data.ESTADO

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [22]:
type(data["ESTADO"])

pandas.core.series.Series

In [24]:
# Selecionando a observação indexada no index 1 do DataFrame

data.iloc[1]

DATA INICIAL                           09/05/2004
DATA FINAL                             15/05/2004
REGIÃO                               CENTRO OESTE
ESTADO                                      GOIAS
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  387
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.162
DESVIO PADRÃO REVENDA                       0.114
PREÇO MÍNIMO REVENDA                         0.89
PREÇO MÁXIMO REVENDA                        1.449
MARGEM MÉDIA REVENDA                        0.399
COEF DE VARIAÇÃO REVENDA                    0.098
PREÇO MÉDIO DISTRIBUIÇÃO                    0.763
DESVIO PADRÃO DISTRIBUIÇÃO                  0.088
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5013
PREÇO MÁXIMO DISTRIBUIÇÃO                    1.05
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.115
Name: 1, dtype: object

In [25]:
type(data.iloc[1])

pandas.core.series.Series

##### Criando uma Series

In [26]:
pd.Series([5.5, 6.0, 12])

0     5.5
1     6.0
2    12.0
dtype: float64

#### Atribuindo Dados

##### **Atribuindo constantes**

In [101]:
produto_view = data["PRODUTO"]
produto_view

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
120818     OLEO DIESEL S10
120819     OLEO DIESEL S10
120820     OLEO DIESEL S10
120821     OLEO DIESEL S10
120822     OLEO DIESEL S10
Name: PRODUTO, Length: 120823, dtype: object

In [102]:
produto_copy = data["PRODUTO"].copy()
produto_copy

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
120818     OLEO DIESEL S10
120819     OLEO DIESEL S10
120820     OLEO DIESEL S10
120821     OLEO DIESEL S10
120822     OLEO DIESEL S10
Name: PRODUTO, Length: 120823, dtype: object

In [110]:
# gas["PRODUTO"] = "Combustível"

'Combustível'

##### **Atribuindo listas ou series**

In [27]:
nrows, ncols = data.shape
novos_produtos = [f"Produto {i}" for i in range(nrows)]
len(novos_produtos)

120823

In [ ]:
# gas["PRODUTO"] = novos_produtos

##### **Criando novas colunas**

Para **criar uma nova coluna** em um data frame, basta atribuirmos uma _lista/Series de valores_ ou uma constante a uma **nova 'chave'** do data frame. <br/>

**PS:** A _quantidade de valores_ da lista precisa ser **igual** ao _número de linhas/registros_ do data frame.

In [86]:
# Valor constante

data["COLUNA NOVA"] = "DEFAULT"

In [80]:
# A partir de uma lista

data["COLUNA A PARTIR DE LISTA"] = range(data.shape[0])

In [81]:
# Derivado de outras colunas

data["VALOR DERIVADO DE OUTRAS COLUNAS"] = data["PREÇO MÉDIO REVENDA"] * 6.0

In [120]:
data.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,coluna nova,COLUNA NOVA,COLUNA A PARTIR DE LISTA,VALOR DERIVADO DE OUTRAS COLUNAS
0,09/05/2004,15/05/2004,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.012,0.825,0.11,0.4201,0.9666,0.133,DEFAULT,DEFAULT,0,7.728
1,09/05/2004,15/05/2004,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.098,0.763,0.088,0.5013,1.05,0.115,DEFAULT,DEFAULT,1,6.972
2,09/05/2004,15/05/2004,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.070,0.97,0.095,0.5614,1.161,0.098,DEFAULT,DEFAULT,2,8.334
3,09/05/2004,15/05/2004,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.055,0.83,0.119,0.5991,1.22242,0.143,DEFAULT,DEFAULT,3,7.572
4,09/05/2004,15/05/2004,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.066,0.941,0.077,0.7441,1.0317,0.082,DEFAULT,DEFAULT,4,7.086

##### **Index**

Todo Data Frame possui **índices**, que não são considerado colunas da tabela. Tais índices são comumente **númericos**, de 0 a num_linhas-1, mas também podem ser **textuais (rótulos/labels)**.|

In [59]:
data.index

RangeIndex(start=0, stop=120823, step=1)

Use `list(data.index)` ou `data.index.to_list()` para converter um RangeIndex para uma python list.

In [29]:
#### Exemplo de Data Frame com Índices Textuais (labels)

pesquisa_de_satisfacao = pd.DataFrame({
    "bom": [50, 21, 100],
    "ruim": [131, 2, 30],
    "pessimo": [30, 20, 1]
}, index=["Xbox", "PS5", "Switch"])

In [30]:
pesquisa_de_satisfacao

        bom  ruim  pessimo
Xbox     50   131       30
PS5      21     2       20
Switch  100    30        1

#### Selecionando uma ou mais linhas/observações (indexação)

In [35]:
data.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,09/05/2004,15/05/2004,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,09/05/2004,15/05/2004,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,09/05/2004,15/05/2004,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098

##### **Index-based selection (seleção baseadas em Rótulos)**

Mostrando linhas específicas de um DataFrame:

`iloc`: seleciona elementos do Dataframe, baseado em seu **índice (número)** --> row-first, column-second
- `iloc[row, col]`

###### **Selecionando uma linha/observação:**

In [60]:
# Selecionando a linha 1 - observação de index 1 do DataFrame
data.iloc[1]

DATA INICIAL                           09/05/2004
DATA FINAL                             15/05/2004
REGIÃO                               CENTRO OESTE
ESTADO                                      GOIAS
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  387
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.162
DESVIO PADRÃO REVENDA                       0.114
PREÇO MÍNIMO REVENDA                         0.89
PREÇO MÁXIMO REVENDA                        1.449
MARGEM MÉDIA REVENDA                        0.399
COEF DE VARIAÇÃO REVENDA                    0.098
PREÇO MÉDIO DISTRIBUIÇÃO                    0.763
DESVIO PADRÃO DISTRIBUIÇÃO                  0.088
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5013
PREÇO MÁXIMO DISTRIBUIÇÃO                    1.05
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.115
Name: 1, dtype: object

###### **Selecionando múltiplas linhas/observações:**

In [61]:
# Selecionando as linhas de index de 0 a 5 (slice, continuo)
data.iloc[:6]
data.iloc[12:22]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
12,09/05/2004,15/05/2004,NORDESTE,SERGIPE,ETANOL HIDRATADO,57,R$/l,1.301,0.109,1.15,1.750,0.321,0.084,0.98,0.052,0.8267,1.1059,0.053
13,09/05/2004,15/05/2004,NORTE,ACRE,ETANOL HIDRATADO,33,R$/l,1.805,0.134,1.50,1.980,0.689,0.074,1.116,0.171,0.767,1.2992,0.153
14,09/05/2004,15/05/2004,NORTE,AMAPA,ETANOL HIDRATADO,15,R$/l,1.785,0.035,1.74,1.850,0.412,0.020,1.373,0.167,0.8339,1.4912,0.122
15,09/05/2004,15/05/2004,NORTE,AMAZONAS,ETANOL HIDRATADO,53,R$/l,1.578,0.123,1.28,1.850,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06
16,09/05/2004,15/05/2004,NORTE,PARA,ETANOL HIDRATADO,104,R$/l,1.914,0.246,1.27,2.400,0.536,0.129,1.378,0.237,0.7564,1.8908,0.172
17,09/05/2004,15/05/2004,NORTE,RONDONIA,ETANOL HIDRATADO,97,R$/l,1.545,0.141,1.25,1.990,0.533,0.091,1.012,0.149,0.52,1.3306,0.147
18,09/05/2004,15/05/2004,NORTE,RORAIMA,ETANOL HIDRATADO,14,R$/l,1.300,0.000,1.30,1.300,0.202,0.000,1.098,0.096,0.9798,1.3577,0.087
19,09/05/2004,15/05/2004,NORTE,TOCANTINS,ETANOL HIDRATADO,71,R$/l,1.226,0.081,1.05,1.430,0.546,0.066,0.68,0.114,0.51022,1.035,0.168
20,09/05/2004,15/05/2004,SUDESTE,ESPIRITO SANTO,ETANOL HIDRATADO,306,R$/l,1.148,0.116,0.89,1.490,0.267,0.101,0.881,0.095,0.6259,1.1381,0.108
21,09/05/2004,15/05/2004,SUDESTE,MINAS GERAIS,ETANOL HIDRATADO,1238,R$/l,1.205,0.120,0.92,1.875,0.389,0.100,0.816,0.123,0.3797,1.437,0.151

In [42]:
# Selecionar as linhas de index 1, 5, 10 e 15 (isoladamente, ordem não importa)
data.iloc[[1, 5, 10, 15]]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
1,09/05/2004,15/05/2004,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
5,09/05/2004,15/05/2004,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134
10,09/05/2004,15/05/2004,NORDESTE,PIAUI,ETANOL HIDRATADO,89,R$/l,1.573,0.134,1.400,1.780,0.494,0.085,1.079,0.078,0.8857,1.2499,0.072
15,09/05/2004,15/05/2004,NORTE,AMAZONAS,ETANOL HIDRATADO,53,R$/l,1.578,0.123,1.280,1.850,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06

In [46]:
# Selecionar um valor baseado no index e coluna
# index 1, coluna 2 ("REGIÃO")
data.iloc[1, 2]

'CENTRO OESTE'

##### **Label-based selection (seleção baseada em rótulos)**

`loc`: seleciona elementos do Dataframe, baseado em seus **rótulos** --> row-first, column-second
- `loc[row, col]`

In [53]:
pesquisa_de_satisfacao

        bom  ruim  pessimo
Xbox     50   131       30
PS5      21     2       20
Switch  100    30        1

In [62]:
# Index rotoluado é implicitamente um número
pesquisa_de_satisfacao.iloc[0]

bom         50
ruim       131
pessimo     30
Name: Xbox, dtype: int64

In [63]:
# Busca pelo nome da label
pesquisa_de_satisfacao.loc["Xbox"]

bom         50
ruim       131
pessimo     30
Name: Xbox, dtype: int64

In [64]:
pesquisa_de_satisfacao.loc["PS5", "ruim"]

2

In [68]:
pesquisa_de_satisfacao.loc[["Xbox", "PS5"], ["bom", "pessimo"]]

      bom  pessimo
Xbox   50       30
PS5    21       20

In [69]:
pesquisa_de_satisfacao.loc[:, ["bom", "pessimo"]]

        bom  pessimo
Xbox     50       30
PS5      21       20
Switch  100        1

#### Selecionando uma ou mais Colunas/Features

In [70]:
data.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,09/05/2004,15/05/2004,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,09/05/2004,15/05/2004,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,09/05/2004,15/05/2004,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098

In [72]:
# Retornando uma coluna
data["ESTADO"]

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [73]:
data.ESTADO

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [75]:
data[["ESTADO", "REGIÃO"]]

                    ESTADO        REGIÃO
0         DISTRITO FEDERAL  CENTRO OESTE
1                    GOIAS  CENTRO OESTE
2              MATO GROSSO  CENTRO OESTE
3       MATO GROSSO DO SUL  CENTRO OESTE
4                  ALAGOAS      NORDESTE
...                    ...           ...
120818             RORAIMA         NORTE
120819      SANTA CATARINA           SUL
120820           SAO PAULO       SUDESTE
120821             SERGIPE      NORDESTE
120822           TOCANTINS         NORTE

[120823 rows x 2 columns]

In [76]:
data.loc[:, "ESTADO"]

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

#### Removendo uma Coluna/Feature do DataFrame

In [82]:
data.head(1)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,COLUNA NOVA,COLUNA A PARTIR DE LISTA,VALOR DERIVADO DE OUTRAS COLUNAS
0,09/05/2004,15/05/2004,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,DEFAULT,0,7.728

In [87]:
# deleta/remove in-place

del data["COLUNA NOVA"]

In [88]:
data.head(1)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,COLUNA A PARTIR DE LISTA,VALOR DERIVADO DE OUTRAS COLUNAS
0,09/05/2004,15/05/2004,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.35,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,0,7.728

In [89]:
del data["COLUNA A PARTIR DE LISTA"]
del data["VALOR DERIVADO DE OUTRAS COLUNAS"]

In [90]:
data.head(0)

Empty DataFrame
Columns: [DATA INICIAL, DATA FINAL, REGIÃO, ESTADO, PRODUTO, NÚMERO DE POSTOS PESQUISADOS, UNIDADE DE MEDIDA, PREÇO MÉDIO REVENDA, DESVIO PADRÃO REVENDA, PREÇO MÍNIMO REVENDA, PREÇO MÁXIMO REVENDA, MARGEM MÉDIA REVENDA, COEF DE VARIAÇÃO REVENDA, PREÇO MÉDIO DISTRIBUIÇÃO, DESVIO PADRÃO DISTRIBUIÇÃO, PREÇO MÍNIMO DISTRIBUIÇÃO, PREÇO MÁXIMO DISTRIBUIÇÃO, COEF DE VARIAÇÃO DISTRIBUIÇÃO]
Index: []

#### Salvando um DataFrame

Para salvarmos um Data Frame para um **arquivo CSV**, basta usarmos o método `.to_csv`. <br/>
Por padrão, esse método **salva os índices da tabela como uma coluna no CSV**.<br/>
Como no geral tais índices são números de 0 a n-1, não há necessidade para isso.<br/>
Desta forma, utilize o parâmetro: `index=False`.

Por padrão, o método utilizará a ',' como separador das colunas. Caso queira alterá-lo, utilize o parâmetro `sep`.

In [ ]:
data.to_csv('./datasets/gas_prices_brazil_2004-2021.csv', index=False)

##### **Selecionando apenas o preço dos postos de São Paulo**

#### Seleção Condicional: Filtrando Linhas/Observações

Durante nossas análise exploratórias, frequentemente filtraremos nossas amostras, a partir de certas **condições**, para fins de análise mais específica. <br/>
Existem algumas maneiras de fazermos tal filtragem. Antes disso, vamos carregar nosso dataset pré-processado que salvamos no item anterior.

In [96]:
# Unique() retorna um array com os valores unicos possíveis
data["ESTADO"].unique()

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

##### **Seleção Condicional**

Faz uma comparação elemento a elemento e retorna uma nova ***Series ('array') de booleans*** com o resultado das comparações.

In [98]:
data["ESTADO"] == "SAO PAULO"

0         False
1         False
2         False
3         False
4         False
          ...
120818    False
120819    False
120820     True
120821    False
120822    False
Name: ESTADO, Length: 120823, dtype: bool

In [99]:
estado_sp = data["ESTADO"] == "SAO PAULO"

In [103]:
# O resultado é um DataFrame NOVO só com os dados filtrados

data[estado_sp]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
23,09/05/2004,15/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
50,16/05/2004,22/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
77,23/05/2004,29/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
104,30/05/2004,05/06/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
131,06/06/2004,12/06/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120723,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999,0.041,-99999,-99999,-99999,-99999,-99999
120750,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999,0.062,-99999,-99999,-99999,-99999,-99999
120767,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999,0.090,-99999,-99999,-99999,-99999,-99999
120793,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999,0.045,-99999,-99999,-99999,-99999,-99999
120820,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999,0.051,-99999,-99999,-99999,-99999,-99999

In [104]:
data.loc[estado_sp]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
23,09/05/2004,15/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
50,16/05/2004,22/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
77,23/05/2004,29/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
104,30/05/2004,05/06/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
131,06/06/2004,12/06/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120723,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999,0.041,-99999,-99999,-99999,-99999,-99999
120750,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999,0.062,-99999,-99999,-99999,-99999,-99999
120767,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999,0.090,-99999,-99999,-99999,-99999,-99999
120793,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999,0.045,-99999,-99999,-99999,-99999,-99999
120820,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999,0.051,-99999,-99999,-99999,-99999,-99999

##### **Utilizando o Método query()**

`query` filtra linhas de um DataFrame baseado em uma **query (pergunta)**.
- Retorna um DataFrame (filtrado)

In [107]:
data.query("ESTADO == 'SAO PAULO'")

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
23,09/05/2004,15/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
50,16/05/2004,22/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
77,23/05/2004,29/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
104,30/05/2004,05/06/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
131,06/06/2004,12/06/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120723,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999,0.041,-99999,-99999,-99999,-99999,-99999
120750,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999,0.062,-99999,-99999,-99999,-99999,-99999
120767,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999,0.090,-99999,-99999,-99999,-99999,-99999
120793,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999,0.045,-99999,-99999,-99999,-99999,-99999
120820,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999,0.051,-99999,-99999,-99999,-99999,-99999

In [113]:
postos_sp = data.query("ESTADO == 'SAO PAULO'")
postos_sp

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
23,09/05/2004,15/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
50,16/05/2004,22/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
77,23/05/2004,29/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
104,30/05/2004,05/06/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
131,06/06/2004,12/06/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120723,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999,0.041,-99999,-99999,-99999,-99999,-99999
120750,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999,0.062,-99999,-99999,-99999,-99999,-99999
120767,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999,0.090,-99999,-99999,-99999,-99999,-99999
120793,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999,0.045,-99999,-99999,-99999,-99999,-99999
120820,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999,0.051,-99999,-99999,-99999,-99999,-99999

In [114]:
type(postos_sp)

pandas.core.frame.DataFrame

Note que os _índices das linhas/registros_ após a _filtragem_ **continuam sendo os mesmos** do DataFrame original. <br/>
Em muitas situações, manter esta informação será importante.

Mas, se você quiser **_resetar os índices_** do data frame filtrado, fazendo com que os registros começem com _índice 0 até num_linhas-1_, use o método `.reset_index`.

In [117]:
postos_sp.reset_index()

,index,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,23,09/05/2004,15/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
1,50,16/05/2004,22/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
2,77,23/05/2004,29/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
3,104,30/05/2004,05/06/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
4,131,06/06/2004,12/06/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,120723,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999,0.041,-99999,-99999,-99999,-99999,-99999
4815,120750,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999,0.062,-99999,-99999,-99999,-99999,-99999
4816,120767,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999,0.090,-99999,-99999,-99999,-99999,-99999
4817,120793,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999,0.045,-99999,-99999,-99999,-99999,-99999
4818,120820,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999,0.051,-99999,-99999,-99999,-99999,-99999

In [122]:
postos_sp.reset_index(drop=True, inplace=True)
postos_sp

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,09/05/2004,15/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
1,16/05/2004,22/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
2,23/05/2004,29/05/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
3,30/05/2004,05/06/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
4,06/06/2004,12/06/2004,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999,0.041,-99999,-99999,-99999,-99999,-99999
4815,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999,0.062,-99999,-99999,-99999,-99999,-99999
4816,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999,0.090,-99999,-99999,-99999,-99999,-99999
4817,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999,0.045,-99999,-99999,-99999,-99999,-99999
4818,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999,0.051,-99999,-99999,-99999,-99999,-99999

##### **Aprofundando com Filtros Condicionais**

In [125]:
data.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,09/05/2004,15/05/2004,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,09/05/2004,15/05/2004,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,09/05/2004,15/05/2004,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098

In [131]:
estado_rj_preco_maior_que_2 = (data["ESTADO"] == "RIO DE JANEIRO") & (data["PREÇO MÉDIO REVENDA"] > 2)
estado_rj_preco_maior_que_2

0         False
1         False
2         False
3         False
4         False
          ...
120818    False
120819    False
120820    False
120821    False
120822    False
Length: 120823, dtype: bool

In [132]:
data[estado_rj_preco_maior_que_2]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
2501,26/02/2006,04/03/2006,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,881,R$/l,2.028,0.148,1.589,2.550,0.222,0.073,1.806,0.11,1.31,2.1358,0.061
2528,05/03/2006,11/03/2006,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,889,R$/l,2.125,0.149,1.779,2.550,0.286,0.070,1.839,0.117,1.438,2.2801,0.064
2555,12/03/2006,18/03/2006,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,902,R$/l,2.163,0.138,1.799,2.599,0.268,0.064,1.895,0.134,1.43,2.3454,0.071
2582,19/03/2006,25/03/2006,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,898,R$/l,2.166,0.146,1.760,2.568,0.231,0.067,1.935,0.14,1.438,2.2925,0.072
2609,26/03/2006,01/04/2006,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,890,R$/l,2.172,0.143,1.789,2.550,0.209,0.066,1.963,0.133,1.438,2.2513,0.068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120717,25/04/2021,01/05/2021,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999,0.034,-99999,-99999,-99999,-99999,-99999
120744,25/04/2021,01/05/2021,SUDESTE,RIO DE JANEIRO,GLP,137,R$/13Kg,75.218,5.398,65.000,93.000,-99999,0.072,-99999,-99999,-99999,-99999,-99999
120763,25/04/2021,01/05/2021,SUDESTE,RIO DE JANEIRO,GNV,77,R$/m3,3.011,0.385,2.759,4.399,-99999,0.128,-99999,-99999,-99999,-99999,-99999
120787,25/04/2021,01/05/2021,SUDESTE,RIO DE JANEIRO,OLEO DIESEL,72,R$/l,4.290,0.183,3.849,4.599,-99999,0.043,-99999,-99999,-99999,-99999,-99999
120814,25/04/2021,01/05/2021,SUDESTE,RIO DE JANEIRO,OLEO DIESEL S10,155,R$/l,4.302,0.172,3.930,4.699,-99999,0.040,-99999,-99999,-99999,-99999,-99999

O resultado da seleção continua sendo uma Series de booleans com o mesmo número de linhas/observações do DataFrame, de modo que cada linha possuirá um valor booleano indicando se as comparações resultaram TRUE ou FALSE.

O símbolo **&** significa **AND** na comparação. Essa nomenclatura do python/pandas é diferente das nomenclaturas tradicionais (&&).
Similarmente:

**|** representa o **OR** (não é ||)
**~** representa o **NOT** (não é !)

**Falando Sobre Eficiência**

A primeira comparação `(data['ESTADO'] == 'RIO DE JANEIRO')` checa, linha a linha (observação a observação) do DataFrame, quais são aquelas cujo o estado é RIO DE JANEIRO. Nenhuma averiguação de preços é feita nesse momento. Como resultado, temos uma Series de booleans que responde **apenas** a essa "pergunta" feita.

A segunda comparação `(data['PREÇO MÉDIO REVENDA'] > 2)` checa, linha a linha (observação a observação) do DataFrame, quais são os registros cujo preço do combustível é maior que 2 reais. Note que essa comparação checará os postos de **TODOS os estados**. Como resultado, temos uma Series de booleans que responde **apenas** a essa "pergunta" feita.

Por fim, as duas "perguntas" são unidas pelo AND (&) que retorna a "pergunta completa" que fizemos.

Alguns podem argumentar que tal abordagem é **ineficiente**, uma vez que, para cada condição ("pergunta"), estamos varrendo todas as linhas do DataFrame. <br/>
O Pandas _tenta otimizar_ isso ao máximo por de trás dos panos. Mas, de fato, se tivermos um dataset **muito grande** (centenas de milhares de linhas), tal abordagem se tornará _lenta_.

Assim, poderíamos fazer filtragem com múltiplos condicionais em partes:

In [135]:
estados_rj = data["ESTADO"] == "RIO DE JANEIRO"

In [138]:
postos_rj = data[estados_rj]

In [139]:
preco_maior_que_2 = postos_rj["PREÇO MÉDIO REVENDA"] > 2

In [140]:
postos_rj_com_preco_maior_que_2 = postos_rj[preco_maior_que_2]

In [141]:
postos_rj_com_preco_maior_que_2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
2501,26/02/2006,04/03/2006,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,881,R$/l,2.028,0.148,1.589,2.550,0.222,0.073,1.806,0.11,1.31,2.1358,0.061
2528,05/03/2006,11/03/2006,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,889,R$/l,2.125,0.149,1.779,2.550,0.286,0.070,1.839,0.117,1.438,2.2801,0.064
2555,12/03/2006,18/03/2006,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,902,R$/l,2.163,0.138,1.799,2.599,0.268,0.064,1.895,0.134,1.43,2.3454,0.071
2582,19/03/2006,25/03/2006,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,898,R$/l,2.166,0.146,1.760,2.568,0.231,0.067,1.935,0.14,1.438,2.2925,0.072
2609,26/03/2006,01/04/2006,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,890,R$/l,2.172,0.143,1.789,2.550,0.209,0.066,1.963,0.133,1.438,2.2513,0.068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120717,25/04/2021,01/05/2021,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999,0.034,-99999,-99999,-99999,-99999,-99999
120744,25/04/2021,01/05/2021,SUDESTE,RIO DE JANEIRO,GLP,137,R$/13Kg,75.218,5.398,65.000,93.000,-99999,0.072,-99999,-99999,-99999,-99999,-99999
120763,25/04/2021,01/05/2021,SUDESTE,RIO DE JANEIRO,GNV,77,R$/m3,3.011,0.385,2.759,4.399,-99999,0.128,-99999,-99999,-99999,-99999,-99999
120787,25/04/2021,01/05/2021,SUDESTE,RIO DE JANEIRO,OLEO DIESEL,72,R$/l,4.290,0.183,3.849,4.599,-99999,0.043,-99999,-99999,-99999,-99999,-99999
120814,25/04/2021,01/05/2021,SUDESTE,RIO DE JANEIRO,OLEO DIESEL S10,155,R$/l,4.302,0.172,3.930,4.699,-99999,0.040,-99999,-99999,-99999,-99999,-99999

**Filtros Mais Complexos**

In [152]:
estado_rj_sp = (data["ESTADO"] == "SAO PAULO") | (data["ESTADO"] == "RIO DE JANEIRO")
gasolina_maior_que_2 = (data["PRODUTO"] == "GASOLINA COMUM") & (data["PREÇO MÉDIO REVENDA"] > 2)
data[estado_rj_sp & gasolina_maior_que_2]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
12086,09/05/2004,15/05/2004,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026
12113,16/05/2004,22/05/2004,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.040,0.113,1.700,2.599,0.252,0.055,1.788,0.049,1.5943,1.99651,0.027
12140,23/05/2004,29/05/2004,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.042,0.108,1.700,2.599,0.252,0.053,1.79,0.046,1.63596,2.2137,0.026
12167,30/05/2004,05/06/2004,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.053,0.111,1.730,2.599,0.251,0.054,1.802,0.055,1.64,2.21425,0.031
12194,06/06/2004,12/06/2004,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.063,0.107,1.760,2.599,0.247,0.052,1.816,0.054,1.64,2.32425,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120366,11/04/2021,17/04/2021,SUDESTE,SAO PAULO,GASOLINA COMUM,1058,R$/l,5.206,0.234,3.899,5.999,-99999,0.045,-99999,-99999,-99999,-99999,-99999
120538,18/04/2021,24/04/2021,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,240,R$/l,6.071,0.217,5.399,6.599,-99999,0.036,-99999,-99999,-99999,-99999,-99999
120544,18/04/2021,24/04/2021,SUDESTE,SAO PAULO,GASOLINA COMUM,1075,R$/l,5.205,0.216,4.199,5.999,-99999,0.041,-99999,-99999,-99999,-99999,-99999
120717,25/04/2021,01/05/2021,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999,0.034,-99999,-99999,-99999,-99999,-99999
120723,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999,0.041,-99999,-99999,-99999,-99999,-99999

In [164]:
estado_rj_sp = (data["ESTADO"] == "SAO PAULO") | (data["ESTADO"] == "RIO DE JANEIRO")
postos_sp_rj = data[estado_rj_sp]

In [165]:
gasolina_maior_que_2 = (postos_sp_rj["PRODUTO"] == "GASOLINA COMUM") & (postos_sp_rj["PREÇO MÉDIO REVENDA"] > 2)

In [166]:
postos_sp_rj_gasolina_maior_que_2 = postos_sp_rj[gasolina_maior_que_2]

In [167]:
postos_sp_rj_gasolina_maior_que_2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
12086,09/05/2004,15/05/2004,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026
12113,16/05/2004,22/05/2004,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.040,0.113,1.700,2.599,0.252,0.055,1.788,0.049,1.5943,1.99651,0.027
12140,23/05/2004,29/05/2004,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.042,0.108,1.700,2.599,0.252,0.053,1.79,0.046,1.63596,2.2137,0.026
12167,30/05/2004,05/06/2004,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.053,0.111,1.730,2.599,0.251,0.054,1.802,0.055,1.64,2.21425,0.031
12194,06/06/2004,12/06/2004,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.063,0.107,1.760,2.599,0.247,0.052,1.816,0.054,1.64,2.32425,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120366,11/04/2021,17/04/2021,SUDESTE,SAO PAULO,GASOLINA COMUM,1058,R$/l,5.206,0.234,3.899,5.999,-99999,0.045,-99999,-99999,-99999,-99999,-99999
120538,18/04/2021,24/04/2021,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,240,R$/l,6.071,0.217,5.399,6.599,-99999,0.036,-99999,-99999,-99999,-99999,-99999
120544,18/04/2021,24/04/2021,SUDESTE,SAO PAULO,GASOLINA COMUM,1075,R$/l,5.205,0.216,4.199,5.999,-99999,0.041,-99999,-99999,-99999,-99999,-99999
120717,25/04/2021,01/05/2021,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999,0.034,-99999,-99999,-99999,-99999,-99999
120723,25/04/2021,01/05/2021,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999,0.041,-99999,-99999,-99999,-99999,-99999

**Função isin()**

In [178]:
estados = ["PIAUI", "TOCANTINS", "SANTA CATARINA"]
selec = data["ESTADO"].isin(estados) ## ~Leia~ algum estado de estados isin "ESTADO"?

In [177]:
data[selec]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
10,09/05/2004,15/05/2004,NORDESTE,PIAUI,ETANOL HIDRATADO,89,R$/l,1.573,0.134,1.400,1.780,0.494,0.085,1.079,0.078,0.8857,1.2499,0.072
19,09/05/2004,15/05/2004,NORTE,TOCANTINS,ETANOL HIDRATADO,71,R$/l,1.226,0.081,1.050,1.430,0.546,0.066,0.68,0.114,0.51022,1.035,0.168
26,09/05/2004,15/05/2004,SUL,SANTA CATARINA,ETANOL HIDRATADO,506,R$/l,1.229,0.077,0.999,1.460,0.416,0.063,0.813,0.097,0.57,1.2348,0.119
37,16/05/2004,22/05/2004,NORDESTE,PIAUI,ETANOL HIDRATADO,93,R$/l,1.571,0.133,1.350,1.780,0.489,0.085,1.082,0.094,0.8678,1.2499,0.087
46,16/05/2004,22/05/2004,NORTE,TOCANTINS,ETANOL HIDRATADO,71,R$/l,1.227,0.084,1.050,1.430,0.529,0.068,0.698,0.117,0.529,0.9832,0.168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120792,25/04/2021,01/05/2021,SUL,SANTA CATARINA,OLEO DIESEL,61,R$/l,4.064,0.206,3.849,4.766,-99999,0.051,-99999,-99999,-99999,-99999,-99999
120795,25/04/2021,01/05/2021,NORTE,TOCANTINS,OLEO DIESEL,13,R$/l,4.358,0.160,4.180,4.599,-99999,0.037,-99999,-99999,-99999,-99999,-99999
120813,25/04/2021,01/05/2021,NORDESTE,PIAUI,OLEO DIESEL S10,36,R$/l,4.382,0.172,3.999,4.897,-99999,0.039,-99999,-99999,-99999,-99999,-99999
120819,25/04/2021,01/05/2021,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999,0.045,-99999,-99999,-99999,-99999,-99999
120822,25/04/2021,01/05/2021,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999,0.036,-99999,-99999,-99999,-99999,-99999

In [183]:
data.query("ESTADO in @estados")

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
10,09/05/2004,15/05/2004,NORDESTE,PIAUI,ETANOL HIDRATADO,89,R$/l,1.573,0.134,1.400,1.780,0.494,0.085,1.079,0.078,0.8857,1.2499,0.072
19,09/05/2004,15/05/2004,NORTE,TOCANTINS,ETANOL HIDRATADO,71,R$/l,1.226,0.081,1.050,1.430,0.546,0.066,0.68,0.114,0.51022,1.035,0.168
26,09/05/2004,15/05/2004,SUL,SANTA CATARINA,ETANOL HIDRATADO,506,R$/l,1.229,0.077,0.999,1.460,0.416,0.063,0.813,0.097,0.57,1.2348,0.119
37,16/05/2004,22/05/2004,NORDESTE,PIAUI,ETANOL HIDRATADO,93,R$/l,1.571,0.133,1.350,1.780,0.489,0.085,1.082,0.094,0.8678,1.2499,0.087
46,16/05/2004,22/05/2004,NORTE,TOCANTINS,ETANOL HIDRATADO,71,R$/l,1.227,0.084,1.050,1.430,0.529,0.068,0.698,0.117,0.529,0.9832,0.168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120792,25/04/2021,01/05/2021,SUL,SANTA CATARINA,OLEO DIESEL,61,R$/l,4.064,0.206,3.849,4.766,-99999,0.051,-99999,-99999,-99999,-99999,-99999
120795,25/04/2021,01/05/2021,NORTE,TOCANTINS,OLEO DIESEL,13,R$/l,4.358,0.160,4.180,4.599,-99999,0.037,-99999,-99999,-99999,-99999,-99999
120813,25/04/2021,01/05/2021,NORDESTE,PIAUI,OLEO DIESEL S10,36,R$/l,4.382,0.172,3.999,4.897,-99999,0.039,-99999,-99999,-99999,-99999,-99999
120819,25/04/2021,01/05/2021,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999,0.045,-99999,-99999,-99999,-99999,-99999
120822,25/04/2021,01/05/2021,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999,0.036,-99999,-99999,-99999,-99999,-99999

##### **Iterando DataFrames**

For-each `DataFrame.iterrows()`
- Lento, apenas indicado para pequenos conjunto de dados

In [194]:
for index, row in data.head(20).iterrows():
    print(f"indice {index} => {row['ESTADO']}")

indice 0 => DISTRITO FEDERAL
indice 1 => GOIAS
indice 2 => MATO GROSSO
indice 3 => MATO GROSSO DO SUL
indice 4 => ALAGOAS
indice 5 => BAHIA
indice 6 => CEARA
indice 7 => MARANHAO
indice 8 => PARAIBA
indice 9 => PERNAMBUCO
indice 10 => PIAUI
indice 11 => RIO GRANDE DO NORTE
indice 12 => SERGIPE
indice 13 => ACRE
indice 14 => AMAPA
indice 15 => AMAZONAS
indice 16 => PARA
indice 17 => RONDONIA
indice 18 => RORAIMA
indice 19 => TOCANTINS